/*Font variables*/
$mainFont: 'Montserrat', sans-serif;
$descrFont: 'Lato', sans-serif;

/*Color variables*/
$mainColor: #ffffff;
$topTextColorAndButtonBg: #8d81ac;
$ChapterNameColor: #635c73;
$purple: #8d81ac;
$white: #ffffff;
$grey: #27262a;
$normalGray: #333333;
$lightGray: #848E96;


